# Part 1 - Getting and Knowing your Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [2]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

In [3]:
url = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv"
df = pd.read_csv(url, sep="\t")

### Step 3. Assign it to a variable called chipo.

In [4]:
chipo = df
chipo.head()
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

### Step 4. See the first 10 entries

In [5]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 5. What is the number of observations in the dataset?

In [6]:
# Solution 1  con shape del indice 0
num_observations = chipo.shape[0]
print (f"El número de observaciones es {num_observations} filas")

El número de observaciones es 4622 filas

In [7]:
len(chipo)

4622

In [8]:
# Solution 2 con el length del dataframe
number_observations = len(chipo)
print (f"el número de observaciones es de {number_observations}")

el número de observaciones es de 4622

### Step 6. What is the number of columns in the dataset?

In [9]:
number_columns = chipo.shape[1]
print(f"hay {number_columns} columnas")

hay 5 columnas

### Step 7. Print the name of all the columns.

In [10]:
df.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

### Step 8. How is the dataset indexed?

In [11]:
df.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

### Step 9. Which was the most-ordered item?

In [12]:
chipo["quantity"].max() # me dice cual es el valor máximo dentro de "quantity"

15

In [ ]:
chipo[chipo["quantity"].max()] # por qué no se puede?

In [20]:
chipo[chipo["quantity"] == 15] # me muestra todas las columnas de la fila del valor maximo de quantity

,order_id,quantity,item_name,choice_description,item_price
3598,1443,15,Chips and Fresh Tomato Salsa,NaN,$44.25

In [35]:
chipo[chipo["quantity"] == 15]["item_name"] # con este codigo solo me muestra el item name y en que indice se encuentra

3598    Chips and Fresh Tomato Salsa
Name: item_name, dtype: object

In [34]:
chipo.loc[chipo["quantity"] == 15, ["item_name"]] # es lo mismo pero éste me lo enseña más visual

                         item_name
3598  Chips and Fresh Tomato Salsa

### Step 10. For the most-ordered item, how many items were ordered?

In [33]:
chipo.sort_values(by = "quantity", ascending = False)[["quantity", "item_name"]]

      quantity                              item_name
3598        15           Chips and Fresh Tomato Salsa
4152        10                          Bottled Water
3887         8                          Side of Chips
3599         7                          Bottled Water
2441         5                          Bottled Water
...        ...                                    ...
1592         1                           Chicken Bowl
1593         1  Chips and Tomatillo Green Chili Salsa
1594         1                          Carnitas Bowl
1595         1                        Chicken Burrito
4621         1                     Chicken Salad Bowl

[4622 rows x 2 columns]

In [ ]:
# ver step 9
# es el valor máximo de quantity, 15

### Step 11. What was the most ordered item in the choice_description column?

In [36]:
chipo.choice_description.unique() # array de todos los elementos únicos dentro de la columna choice_description

array([nan, '[Clementine]', '[Apple]', ...,
       '[Roasted Chili Corn Salsa, [Pinto Beans, Sour Cream, Cheese, Lettuce, Guacamole]]',
       '[Tomatillo Green Chili Salsa, [Rice, Black Beans]]',
       '[Tomatillo Green Chili Salsa, [Rice, Fajita Vegetables, Black Beans, Guacamole]]'],
      dtype=object)

In [39]:
chipo.isna() # True si hay valores nulos / me muestra todo

      order_id  quantity  item_name  choice_description  item_price
0        False     False      False                True       False
1        False     False      False               False       False
2        False     False      False               False       False
3        False     False      False                True       False
4        False     False      False               False       False
...        ...       ...        ...                 ...         ...
4617     False     False      False               False       False
4618     False     False      False               False       False
4619     False     False      False               False       False
4620     False     False      False               False       False
4621     False     False      False               False       False

[4622 rows x 5 columns]

In [40]:
chipo.isna().sum() # me muestra todos los valores nulos por cada columna

order_id                 0
quantity                 0
item_name                0
choice_description    1246
item_price               0
dtype: int64

In [41]:
chipo.choice_description.isna().sum() # dentro de choice_description hay 1246 valores nulos, los tenemos que eliminar

1246

In [38]:
chipo["choice_description"].isna().sum() # es lo mismo de arriba

1246

In [44]:
chipo["choice_description"].dropna(inplace = True) # eliminamos los valores nulos de la columna choice_description
# NO FUNCIONA

In [ ]:
chipo.choice_description.dropna(inplace = True) # TAMPOCO FUNCIONA

In [54]:
chipo_sinnan = chipo.dropna(subset = ["choice_description"]) 
# he tenido que eliminar todas las filas donde aparecen un Nan en choice_description 
# y he creado un nuevo dataframe (chipo_sinnan) sin las filas de Nan (1246)

In [56]:
chipo_sinnan.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3376 entries, 1 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            3376 non-null   int64
 1   quantity            3376 non-null   int64
 2   item_name           3376 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          3376 non-null   object
dtypes: int64(2), object(3)
memory usage: 158.2+ KB

In [62]:
chipo_sinnan.sort_values(by = "quantity", ascending = False)[["quantity", "choice_description"]]

      quantity                                 choice_description
4491         4                                           [Sprite]
1254         4  [Fresh Tomato Salsa, [Fajita Vegetables, Rice,...
2235         4                                           [Sprite]
3973         4                                             [Coke]
4490         4                                             [Coke]
...        ...                                                ...
1558         1  [Roasted Chili Corn Salsa, [Black Beans, Chees...
1560         1                               [Fresh Tomato Salsa]
1561         1                                         [Lemonade]
1563         1  [Tomatillo Green Chili Salsa, [Rice, Cheese, S...
4621         1  [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...

[3376 rows x 2 columns]

### Step 12. How many items were orderd in total?

In [37]:
df.item_name.unique() # muestra los elementos únicos dentro de la columna item_name

array(['Chips and Fresh Tomato Salsa', 'Izze', 'Nantucket Nectar',
       'Chips and Tomatillo-Green Chili Salsa', 'Chicken Bowl',
       'Side of Chips', 'Steak Burrito', 'Steak Soft Tacos',
       'Chips and Guacamole', 'Chicken Crispy Tacos',
       'Chicken Soft Tacos', 'Chicken Burrito', 'Canned Soda',
       'Barbacoa Burrito', 'Carnitas Burrito', 'Carnitas Bowl',
       'Bottled Water', 'Chips and Tomatillo Green Chili Salsa',
       'Barbacoa Bowl', 'Chips', 'Chicken Salad Bowl', 'Steak Bowl',
       'Barbacoa Soft Tacos', 'Veggie Burrito', 'Veggie Bowl',
       'Steak Crispy Tacos', 'Chips and Tomatillo Red Chili Salsa',
       'Barbacoa Crispy Tacos', 'Veggie Salad Bowl',
       'Chips and Roasted Chili-Corn Salsa',
       'Chips and Roasted Chili Corn Salsa', 'Carnitas Soft Tacos',
       'Chicken Salad', 'Canned Soft Drink', 'Steak Salad Bowl',
       '6 Pack Soft Drink', 'Chips and Tomatillo-Red Chili Salsa', 'Bowl',
       'Burrito', 'Crispy Tacos', 'Carnitas Crispy Tacos', 'Steak Salad',
       'Chips and Mild Fresh Tomato Salsa', 'Veggie Soft Tacos',
       'Carnitas Salad Bowl', 'Barbacoa Salad Bowl', 'Salad',
       'Veggie Crispy Tacos', 'Veggie Salad', 'Carnitas Salad'],
      dtype=object)

In [38]:
df.item_name.value_counts() # muestra cuantas veces se repite cada elemento dentro de una determinada columna

item_name
Chicken Bowl                             726
Chicken Burrito                          553
Chips and Guacamole                      479
Steak Burrito                            368
Canned Soft Drink                        301
Steak Bowl                               211
Chips                                    211
Bottled Water                            162
Chicken Soft Tacos                       115
Chips and Fresh Tomato Salsa             110
Chicken Salad Bowl                       110
Canned Soda                              104
Side of Chips                            101
Veggie Burrito                            95
Barbacoa Burrito                          91
Veggie Bowl                               85
Carnitas Bowl                             68
Barbacoa Bowl                             66
Carnitas Burrito                          59
Steak Soft Tacos                          55
6 Pack Soft Drink                         54
Chips and Tomatillo Red Chili Salsa       48
Chicken Crispy Tacos                      47
Chips and Tomatillo Green Chili Salsa     43
Carnitas Soft Tacos                       40
Steak Crispy Tacos                        35
Chips and Tomatillo-Green Chili Salsa     31
Steak Salad Bowl                          29
Nantucket Nectar                          27
Barbacoa Soft Tacos                       25
Chips and Roasted Chili Corn Salsa        22
Izze                                      20
Chips and Tomatillo-Red Chili Salsa       20
Veggie Salad Bowl                         18
Chips and Roasted Chili-Corn Salsa        18
Barbacoa Crispy Tacos                     11
Barbacoa Salad Bowl                       10
Chicken Salad                              9
Veggie Soft Tacos                          7
Carnitas Crispy Tacos                      7
Veggie Salad                               6
Carnitas Salad Bowl                        6
Burrito                                    6
Steak Salad                                4
Crispy Tacos                               2
Salad                                      2
Bowl                                       2
Chips and Mild Fresh Tomato Salsa          1
Veggie Crispy Tacos                        1
Carnitas Salad                             1
Name: count, dtype: int64

In [68]:
chipo["item_name"].nunique() # muestra el número de elementos únicos dentro de la columna item_name

50

In [63]:
chipo.item_name.nunique() # es lo mismo

50

### Step 13. Turn the item price into a float

#### Step 13.a. Check the item price type

In [65]:
chipo["item_price"].dtype # el tipo de dato es un Object
chipo.item_price

0        $2.39
1        $3.39
2        $3.39
3        $2.39
4       $16.98
         ...
4617    $11.75
4618    $11.75
4619    $11.25
4620     $8.75
4621     $8.75
Name: item_price, Length: 4622, dtype: object

#### Step 13.b. Create a lambda function and change the type of item price

In [66]:
price = lambda x : x.replace("$", "")

In [67]:
chipo["item_price"] = chipo["item_price"].apply(price) 
# aplicar la función lambda sirve para limpiar los caracteres no númericos
# el símbolo impide la conversión directa a float

In [68]:
chipo.item_price

0        2.39
1        3.39
2        3.39
3        2.39
4       16.98
         ...
4617    11.75
4618    11.75
4619    11.25
4620     8.75
4621     8.75
Name: item_price, Length: 4622, dtype: object

In [77]:
chipo["item_price"] = chipo.item_price.astype("float64")

In [78]:
chipo.item_price # ahora se ha podido convertir a float porque he eliminado el $

0        2.39
1        3.39
2        3.39
3        2.39
4       16.98
        ...
4617    11.75
4618    11.75
4619    11.25
4620     8.75
4621     8.75
Name: item_price, Length: 4622, dtype: float64

#### Step 13.c. Check the item price type

In [79]:
chipo["item_price"].dtype

dtype('float64')

### Step 14. How much was the revenue for the period in the dataset?

In [81]:
chipo.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98

In [83]:
total_revenue = chipo["item_price"].dot(chipo["quantity"])
total_revenue

39237.02000000001

### Step 15. How many orders were made in the period?

In [84]:
total_quantity = chipo["quantity"].sum()
total_quantity

4972

### Step 16. What is the average revenue amount per order?

In [85]:
# Solution 1
average_revenue = total_revenue / total_quantity
average_revenue

7.891596942880131

In [4]:
# Solution 2

### Step 17. How many different items are sold?

# Part 2 - Filtering and Sorting Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [86]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

In [87]:
url = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv"

### Step 3. Assign it to a variable called chipo.

In [88]:
chipo = pd.read_csv(url, sep="\t")
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

### Step 4. How many products cost more than $10.00?

In [30]:
chipo.head()
chipo[chipo["item_price"] > "$10.00"].count()
# 4035 productos cuestan más de 10 Usd

order_id              4035
quantity              4035
item_name             4035
choice_description    3028
item_price            4035
dtype: int64

In [91]:
chipo[chipo["item_price"] <= "$10.00"].count()

order_id              587
quantity              587
item_name             587
choice_description    348
item_price            587
dtype: int64

### Step 5. What is the price of each item? 
###### print a data frame with only two columns item_name and item_price

In [90]:
chipo[["item_name", "item_price"]]

                                  item_name item_price
0              Chips and Fresh Tomato Salsa     $2.39
1                                      Izze     $3.39
2                          Nantucket Nectar     $3.39
3     Chips and Tomatillo-Green Chili Salsa     $2.39
4                              Chicken Bowl    $16.98
...                                     ...        ...
4617                          Steak Burrito    $11.75
4618                          Steak Burrito    $11.75
4619                     Chicken Salad Bowl    $11.25
4620                     Chicken Salad Bowl     $8.75
4621                     Chicken Salad Bowl     $8.75

[4622 rows x 2 columns]

### Step 6. Sort by the name of the item

In [94]:
chipo.sort_values(by = "item_name", ascending = True)[["item_name", "item_price"]]

              item_name item_price
3389  6 Pack Soft Drink    $12.98
341   6 Pack Soft Drink     $6.49
1849  6 Pack Soft Drink     $6.49
1860  6 Pack Soft Drink     $6.49
2713  6 Pack Soft Drink     $6.49
...                 ...        ...
2384  Veggie Soft Tacos     $8.75
781   Veggie Soft Tacos     $8.75
2851  Veggie Soft Tacos     $8.49
1699  Veggie Soft Tacos    $11.25
1395  Veggie Soft Tacos     $8.49

[4622 rows x 2 columns]

### Step 7. What was the quantity of the most expensive item ordered?

In [100]:
most_expensive = chipo.item_price.max()
#chipo.loc[chipo["item_price"]== most_expensive, ["quantity"]]
most_expensive

'$9.39 '

In [101]:
chipo["item_price"].value_counts() # no entiedo por qué aparecen precios más altos de 9.39

item_price
$8.75      730
$11.25     521
$9.25      398
$4.45      349
$8.49      311
          ...
$13.35       1
$7.50        1
$4.36        1
$11.80       1
$11.49       1
Name: count, Length: 78, dtype: int64

In [103]:
chipo.sort_values(by = "item_price", ascending=False) # pero segúna el sorted y el max, el valor máximo es el 9.39

,order_id,quantity,item_name,choice_description,item_price
2624,1042,1,Steak Salad Bowl,"[Fresh Tomato Salsa, [Black Beans, Sour Cream,...",$9.39
4419,1762,1,Steak Salad Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$9.39
4036,1615,1,Steak Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Chees...",$9.39
1825,738,1,Barbacoa Salad Bowl,"[Fresh Tomato Salsa, [Rice, Pinto Beans, Chees...",$9.39
3115,1243,1,Carnitas Salad Bowl,"[Tomatillo Green Chili Salsa, [Rice, Pinto Bea...",$9.39
...,...,...,...,...,...
3145,1254,1,Canned Soda,[Diet Dr. Pepper],$1.09
414,180,1,Canned Soda,[Dr. Pepper],$1.09
3162,1262,1,Canned Soda,[Coca Cola],$1.09
821,338,1,Canned Soda,[Coca Cola],$1.09
1457,591,1,Canned Soda,[Sprite],$1.09

### Step 8. How many times was a Veggie Salad Bowl ordered?

In [122]:
chipo.loc[chipo["item_name"] == "Veggie Salad Bowl", ["quantity"]].sum() 
# está sumando los valores de la columna quantity de las filas donde el item_name es Veggie Salad Bowl
# no sería correcto si en algunas filas el quantity es mayor que 1 (porque me lo contaría de más)

quantity    18
dtype: int64

In [123]:
chipo.loc[chipo["item_name"] == "Veggie Salad Bowl", ["quantity"]].count()  # qué diferencia hay con lo de arriba??
# diría que esto sería lo correcto, porque solo suma las filas (independientemente de cuanto sea el valor de quantity en cada fila)

quantity    18
dtype: int64

In [120]:
chipo[chipo["item_name"] == "Veggie Salad Bowl"].count()

order_id              18
quantity              18
item_name             18
choice_description    18
item_price            18
dtype: int64

In [110]:
chipo[chipo["item_name"] == "Veggie Salad Bowl"] # muestra todas las filas (18) donde el item_name es Veggie Salad Bowl

,order_id,quantity,item_name,choice_description,item_price
186,83,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$11.25
295,128,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$11.25
455,195,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$11.25
496,207,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Rice, Lettuce, Guacamole...",$11.25
960,394,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
1316,536,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$8.75
1884,760,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$11.25
2156,869,1,Veggie Salad Bowl,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.25
2223,896,1,Veggie Salad Bowl,"[Roasted Chili Corn Salsa, Fajita Vegetables]",$8.75
2269,913,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$8.75
2683,1066,1,Veggie Salad Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$8.75
3223,1289,1,Veggie Salad Bowl,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.25
3293,1321,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",$8.75
4109,1646,1,Veggie Salad Bowl,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.25
4201,1677,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Black...",$11.25
4261,1700,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$11.25
4541,1805,1,Veggie Salad Bowl,"[Tomatillo Green Chili Salsa, [Fajita Vegetabl...",$8.75
4573,1818,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

### Step 9. How many times did someone order more than one Canned Soda?

In [119]:
chipo.loc[(chipo["item_name"] ==  "Canned Soda") & (chipo["quantity"] > 1)].count()

order_id              20
quantity              20
item_name             20
choice_description    20
item_price            20
dtype: int64

In [124]:
chipo.loc[(chipo["item_name"] ==  "Canned Soda") & (chipo["quantity"] > 1)]

      order_id  quantity    item_name choice_description item_price
18           9         2  Canned Soda           [Sprite]     $2.18
51          23         2  Canned Soda     [Mountain Dew]     $2.18
162         73         2  Canned Soda        [Diet Coke]     $2.18
171         76         2  Canned Soda  [Diet Dr. Pepper]     $2.18
350        150         2  Canned Soda        [Diet Coke]     $2.18
352        151         2  Canned Soda        [Coca Cola]     $2.18
698        287         2  Canned Soda        [Coca Cola]     $2.18
700        288         2  Canned Soda        [Coca Cola]     $2.18
909        376         2  Canned Soda     [Mountain Dew]     $2.18
1091       450         2  Canned Soda       [Dr. Pepper]     $2.18
1092       450         2  Canned Soda        [Coca Cola]     $2.18
1944       787         2  Canned Soda       [Dr. Pepper]     $2.18
2135       859         2  Canned Soda        [Diet Coke]     $2.18
2235       901         4  Canned Soda           [Sprite]     $4.36
2905      1156         2  Canned Soda        [Coca Cola]     $2.18
2906      1156         2  Canned Soda           [Sprite]     $2.18
3152      1258         2  Canned Soda       [Dr. Pepper]     $2.18
3364      1349         2  Canned Soda        [Coca Cola]     $2.18
3592      1440         2  Canned Soda        [Diet Coke]     $2.18
3866      1550         2  Canned Soda     [Mountain Dew]     $2.18